#profile{
    width: 100px;
    height: 50;
}



body{
    margin-left: 20px;
}
a[href$=".com"]{
    color: green; 
}    
a[href$=".com"]{
    color: red;
}
div.parent  p{
    color:red;    
    font-weight: bold;

    
}
a:hover{
    color: green;
}
p:last-of-type::first-letter{
    color: gold;
    font-size: 140%;
}
p::first-line{
    font-weight: bold;
}
p::selection{
    color: blue;
    background-color: green;
}
p::before{
    content: "...";
   

}
